<!--nagano_cake public/customer/confirm-->
<body>
  <main>
  <%= render 'layouts/public_header_template' %>
    <div class="container">
      <div class="row">
        <h1 class="mb-5">お客さま情報更新</h1>
        <div class="col-md-10">

        <p>退会されるとご注文ができなくなります。</p>
        <p>本当に退会されますか？</p>
        <%= link_to "退会します", customers_unsubscribe_path, method: :patch, class: "btn btn-danger btn-lg" %>

        </div>
      </div>
    </div>
  </main>
</body>
