<body>
  <%= render 'layouts/public_header_template' %>
  <main>
    <div class="container">
      <div class="row">
        <h1 class="mx-auto">Nagano_cake</h1>
      </div>
      <div class="top_image">
        <img src="/nagano_cake/app/assets/images/2.jpg" alt="top_image">
      </div>
    </div>

  </main>
  <%= render 'layouts/footer_template' %>
</body>