<body>
  <%= render 'layouts/admin_header_template' %>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1>Admin::Customers#index</h1>
        <p>Find me in app/views/admin/customers/index.html.erb</p>

        <% @customers.each do |customer| %>
        <table class="table">
          <thead>
            <tr>
              <th>会員ID</th>
              <th>御名前</th>
              <th>注文</th>
              <th>配送先</th>
              <th>退会</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= customer.id %></td>
              <td><%= customer.last_name %> <%= customer.first_name %></td>
              <td>注文一覧</td>
              <td>配送先一覧</td>
              <td>
              <% if customer.is_deleted == true %>
                <span>＊</span>
              <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <% end %>

      </div>
    </div>
  </div>
</body>