<body>
  <%= render '/layouts/admin_header_template' %>
  <main>
    <div  class="container">
      <div class="row">

      </div>
    </div>
    <h1>Admin::Homes#top</h1>
<p>adminのトップ画面　注文履歴一覧を表示</p>
  </main>
</body>
