<body>
  <%= render 'layouts/public_header_template' %>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-10">
          <p class="lead">ご注文ありがとうございます。</p>
          <p>このたびは、商品をご注文頂き誠にありがとうございます。</p>
          <p>お客様のメールアドレスへ、自動返信の確認メールをお送りしております。</p>
          <p>しばらく経ってもメールが届かない場合は、入力頂いたメールアドレスが間違っているか、迷惑メールフォルダに振り分けられている可能性がございます。</p>
          <p>また、ドメイン指定をされている場合は、「@XXXX.com」からのメールが受信できるようあらかじめ設定をお願いいたします。</p>

          <div class="col-4 mx-auto mt-3">
            <%= link_to "ご注文一覧", orders_path, class: "btn btn-light btn-block" %>
          </div>
        </div>

      </div>
    </div>
  </main>
  <%= render 'layouts/footer_template' %>
</body>
