<table class="table">
  <thead>
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= link_to() do %>
      <td>ケーキ</td>
      <% end %>
    </tr>
    <tr>
      <%= link_to() do %>
      <td>焼き菓子</td>
      <% end %>
    </tr>
    <tr>
      <%= link_to() do %>
      <td>プリン</td>
      <% end %>
    </tr>
    <tr>
      <%= link_to() do %>
      <td>キャンディ</td>
      <% end %>
    </tr>
  </tbody>
</table>